/**
 * _classes.scss
 */

/*
Colors
 */
.color-link { color: $link-color; }
.color-text { color: $text-color; }

/*
Font Weights
 */
.fw-400 { font-weight: 400; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }

/*
Footer
 */
.footer-link { @include footer-link; }

/*
Margins
 */
.mtp { margin-top: $margin-p !important; }
.mbp { margin-bottom: $margin-p !important; }

/*
Media Queries
 */
@media (max-width: $break-sm) {
  .hidden-xs {
    display: none !important;
  }
}
@media (max-width: $break-md) {
  .hidden-sm {
    display: none !important;
  }
}
@media (max-width: $break-lg) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: $break-sm) {
  .visible-xs {
    display: none !important;
  }
}
@media (min-width: $break-md) {
  .visible-sm {
    display: none !important;
  }
}
@media (min-width: $break-lg) {
  .visible-md {
    display: none !important;
  }
}

/*
Mixins
 */
.bg-cover {
  @include bg-cover;
}
.bg-darken {
  @include bg-darken;
}
.hover-lighten {
  @include hover-lighten;
}
.sr-only, .srt {
  @include sr-only;
}
.val {
  @include vert-align;
}
