/**
 * _variables.scss
 */

/*
Typography
 */
/* Variables */
$sans-serif: 'Open Sans', Helvetica, sans-serif;
$serif: 'Playfair Display', Georgia, serif;

/* Definitions */
$body-font: $sans-serif;
$heading-font: $sans-serif;

/* Sizes */
$font-size-xs: 14px !default;
$font-size-sm: 15px !default;
$font-size-lg: 16px !default;

/*
Colors
 */
// brand color map function
@function brand-color($key: 'blue') {
  @return map-get($brand-colors, $key);
}

/* Variables */
$brand-colors: (
  'gray-dark': #404040,
  'gray-light': #DDD,
  'gray-lightest': #F0F0F0,
  'orange': #F86834,
);

/* Definitions */
$text-color: brand-color('gray-dark');
$link-color: brand-color('orange');

$heading-color: $text-color;
$button-color: $link-color;

$section-bg-color: brand-color('gray-lightest');

$border-color: brand-color('gray-light');
$border-color--dark: darken($border-color, 25%);

/* Social */
$facebook: #415696;
$twitter: #4FA6DD;

/*
Breakpoints
 */
// adjust these breakpoints
$break-xs: 35rem;
$break-sm: 48rem;
$break-md: 62rem;
$break-lg: 75rem;

/*
Margins
 */
$margin-p: 1.3rem;
