/**
 * _header.scss
 */

/*
Header
 */
.site-header {
  text-align: center;
  background-color: $link-color;
  padding: 0.25rem 0;

  @include break-sm {
    padding: 0.75rem 0;
  }
}

/*
Navigation
 */
.main-nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
.main-navigation {
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.5em;
  }
  a, img {
    display: block;
  }
  a {
    padding: 0.5em;
    @include link-color(white, darken(white, 15%));
  }
}

/*
Mobile Nav
 */
.main-nav__mobile {
  position: fixed;
  padding: $margin-p;
  top: 0; left: 0;
  width: 75%;
  height: 100%;
  transition: all 0.375s ease;
  overflow-x: hidden;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  ul ul {
    margin-left: $margin-p;
  }
}
.site {
  position: relative;
  @include animate(transform, 0.375s);

  &.pushed {
    transform: translateX(75%);
  }
}
