/**
 * _pages.scss
 */

/*
Pages (Global)
 */
.entry-header {
  margin-bottom: 1rem;

  @include break-lg {
    margin-bottom: 2rem;
  }
}

.cta-section--text {
  p {
    margin-bottom: 0;
  }
}


/*
Home
 */
.home {}

/*
Home: Sections
 */
.home-section {
  padding: 2rem 0;

  @include break-md {
    padding: 2.75rem 0;
  }
}

/*
Home: Hero
 */
.home-section--hero {
  height: 300px;

  @include break-sm {
    height: 400px;
  }
  @include break-md {
    height: 450px;
  }
  @include break-lg {
    height: 500px;
  }
}
.hero-section__inner {
  @include table-va;
}
.hero-section__text {
  color: white;
  font-size: $h0;
  font-family: $serif;
}

/*
Home: Message
 */
.home-section--message {
  background-color: black;

  p {
    margin-top: 0;
    font-size: $h2;
    line-height: 1.4;
    color: white;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

/*
Home: CTA
 */
.home-section--cta {}
.cta-section__headline {
  margin: 0 0 1.25rem;
  font-size: $h1;
  text-transform: lowercase;
}
.cta-section__link {
  @include footer-link;
}

/*
Services Page
 */
.service-item__name {
  border-left: 1px solid $link-color;
  border-right: 1px solid $link-color;
  text-transform: uppercase;
  font-weight: bold;

  a {
    @include link-color($text-color, $link-color);
  }
}

/*
Menu Page
 */
.table-container--md {
  overflow-x: scroll;

  @include break-md {
    overflow: hidden;
  }
}
.services-table {
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 2px;
  border-collapse: collapse;

  th, td {
    padding: 1rem;
    font-size: 0.9375rem;
    text-transform: uppercase;
    text-align: center;
  }
  th {
    vertical-align: bottom;
    border-bottom: 1px solid $border-color;
  }
  tr th:first-of-type,
  tr td:first-of-type {
    text-align: left;
  }
  td {
    font-weight: 600;
    border: 1px solid $border-color;
  }
  td:first-of-type {
    color: $link-color;
  }

  .rounded {
    display: table;
    color: white;
    background-color: $link-color;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    border-radius: 50%;
    line-height: 1.0;
    text-transform: lowercase;

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

/* Gallery */
.gallery-tabs__nav {
  li {
    padding: 0.5rem;

    &.active a {
      color: $link-color;
    }
  }
  a {
    padding: 0.25rem;
    font-size: $h5;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    @include link-color($text-color, $link-color);
  }
}
.gallery-content__image {
  width: 100%;
  height: 225px;

  @include break-xs {
    height: 300px;
  }
  @include break-sm {
    height: 225px;
  }
  @include break-md {
    height: 300px;
  }
  @include break-lg {
    height: 290px;
  }
}